body {
  background-color: #f3d1fd;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor {
  background-color: rgb(186, 123, 228);
  border: 2px solid #5b3b7d;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(45, 0, 100, 0.4);
  text-align: left;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 5px hsl(285, 30%, 40%);
  color: black;
}
fieldset {
  border: 1px solid #9d1ee7;
  margin: 15px 0;
  padding: 10px;
  background-color: #714d8b;
}
legend { font-weight: bold; }
label { display: block; margin: 5px 0; }
input[type="number"], select {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 60%;
  border: 1px solid #6ca96c;
  border-radius: 4px;
}
button {
  background-color: hsl(120, 40%, 35%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover { background-color: #2e8b57; }